<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:cbm="http://typo3.org/ns/AskoEducation/Cbm/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:comment>Shows the item labels of the stored value(s). {field} is the column name, as cbm:itemLabels needs it.</f:comment>
    <f:variable name="itemLabels" value="{cbm:itemLabels(record: record, field: field)}" />
    <div>
        <f:render partial="Cbm/Helper/Label" arguments="{label: label}" />
        <f:if condition="{itemLabels -> f:count()} > 1">
            <f:then>
                <ul>
                    <f:for each="{itemLabels}" as="itemLabel">
                        <li>{itemLabel}</li>
                    </f:for>
                </ul>
            </f:then>
            <f:else>
                <span>{itemLabels.0}</span>
            </f:else>
        </f:if>
    </div>
</html>
